#heading{
    color: red;
}
.header{
    /* background-color: black; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 90px;
}

.nav-items >ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0px 20px;
}

.restro-card{
    background-color: #f0f0f0;
    width: 200px;
}
.restro-card:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

.search-container{
    padding: 10px;
}

.res-logo{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.restro-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}